.cart-title-container {
    width: 100%;
}

.cart-title-left {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.cart-title-right {
    display: inline-block;
    vertical-align: middle;
}