.add-sub-cat-btn {
  color: black;
}

body {
  background-color: #fff;
  color: #000000;
}

.list-container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.form-control, input, textarea {
  border: 1px solid #ccc !important;
}

.card-body {
    padding: 15px 0;
}

.panel {
  border:0;
  background-color: #fff;
}

.modal-content {
  background-color: #fff;
}