.add-sub-cat-btn {
  color: black;
}

body {
  background-color: #fff;
  color: #000000;
}

a {
  color:#000;
}
.list-container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.form-control, input, textarea {
  border: 1px solid #ccc !important;
}

.card-body {
    padding: 15px 0;
}

.panel {
  border:0;
  background-color: #fff;
}

.modal-content {
  background-color: #fff;
}

.fa-override {
  padding: 0 5px;
  cursor: pointer;
}

.log_register_container {
  margin-top: 15px;
  width: 200px;
  input {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
  }
}