.add-sub-cat-btn {
  color: black;
}

.sub-cat-item {
  color: white;
}

body {
  background-color: #fff;
  color: #000000;
}

.list-container {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.card-body {
    padding: 15px 0;
}