.img-product {
    display: block;
    padding: 10px;
    img {
        width: 100%;
    }
}

.prod-body-container {
    padding-left: 15px;
}

.prod-list {
    background: cadetblue;
    border-radius: 5px;
    transition: all 1s ease;
    transform: scale(1);
    margin-bottom: 20px;

    &:hover {
           transform: scale(1.1);
    //    : rotation 2s infinite linear;
        color:white;
    }
}

// @-webkit-keyframes rotation {
//     from {
//             -webkit-transform: rotateY(0deg);
//     }
//     to {
//             -webkit-transform: rotateY(359deg);
//     }
// }